body{
  background-image: url('img/background/background.gif');
  background-repeat: no-repeat;
  background-size: cover;
}
@font-face{
  font-family:'pixel';
  src : url('font/Minecraftia-Regular.ttf') format('truetype');

}
@font-face{
  font-family:'neon';
  src: url('font/Nickainley-Normal.otf') format('OpenType');
}

.titreJeu{
  text-align: center;
  color:#ffcbfb;
  font-size:500%;
  text-shadow: 0 0 20px #fa00fa;
  font-family:'neon';
  margin:0;
  padding-top: 1em;
  padding-bottom: 0.5em;
}
#run{
  color:#fffcbd;
  text-shadow: 0 0 20px yellow;
}
#regles{
  border-radius: 10px 10px;
  margin-right:20%;
  margin-left:20%;
  text-align:center;
  font-family:'pixel';
  color: white;
  font-size:90%;
  padding:1%;
  background-color:#22243E;
}
#pageAccueil{
  margin:0;
  background-image:url('img/background/backgroundIndex.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
}

#jeu{
  width: 100vw;
  height: 100vh;
  display: flex;
  background-image: url('img/background/background.gif');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:0;
}

#areatext{
  width:25vw;
  background-color:whitesmoke;
  padding:1em;
  height:25vh;
}

#text{
  font-family:'pixel';
  font-size: 100%;
  animation : typing 2s ;
}
@keyframes typing{
  from{opacity:0%;}
  to {opacity:100%;}
}

#button{
  margin-top:2em;
  padding-top:1%;
  font-family:'pixel';
  font-size:100%;
  padding-left:2%;
  padding-right:2%;
  border:none;
  border-radius:5px 5px;
}

#button:hover{
  background-color:#22243E;
  color: white;
}

#texteFin{
  font-family:pixel;
  text-align:center;
  color:white;
  margin:0;
  font-size:150%;
}
.mute{
  display:content;
  width:10%;
}
.onmute{
  display:none;
  width:10%;
}

.wrapper-texteFin{
  position: absolute;
  bottom: 0;
  padding-bottom: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right{
  display: flex;
  flex-direction: column;
  align-items: end;
}

.game{
  width: 60%;
  height: 60%;
  padding-right: 5%;
}

canvas{
  width: 100%;
}